doctype html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='format-detection' content='telephone=no, date=no, address=no, email=no, url=no')
    meta(name='x-apple-disable-message-reformatting')
    meta(name='color-scheme' content='light dark')
    meta(name='supported-color-schemes' content='light dark')
    title Email title
    style.
        :root {
            color-scheme: light dark;
            supported-color-schemes: light dark;
        }
div(role='article' aria-roledescription='email' aria-label='email name' lang='en' dir='ltr' style='font-size:16px; font-size:1rem; font-size:max(16px, 1rem)')
    div(style='max-width:37.5em; margin:0 auto')
        div(style='display:table')
            div(style='display:table-cell;width:25%')
            div(style='display:table-cell;width:50%')
                img(src='https://wepublish.ch/wp-content/uploads/2020/11/cropped-wepublishlogo-1.png' style='max-width:100%')
            div(style='display:table-cell;width:25%')

        block content


