deployment:
  image:
  imagePullPolicy: Always
  imagePullSecret:
  env: {}

  api:
    env:
      GOOGLE_APPLICATION_CREDENTIALS: /var/secrets/google/key.json
      MEDIA_SERVER_URL: https://media
      MEDIA_ADDRESS: media_server_address
      MEDIA_PORT: "443"
      DATABASE_URL: postgres://
      HOST_URL: https://api
      WEBSITE_URL: https://website
      MEDIA_SERVER_TOKEN: media_server_token
      JWT_SECRET_KEY: jwt_secret_key
      SENTRY_DSN: sentry_dsn
    envFromSecretRefName:
    properties: {}
    replicaCount: 1


  editor:
    env:
      API_URL: https://api
      PEER_BY_DEFAULT: "true"
    envFromSecretRefName:
    properties: {}
    replicaCount: 1

service:
  api:
    type: ClusterIP
    port: 80
  editor:
    type: ClusterIP
    port: 80

ingress:
  enabled: true
  api:
    host: api.demo.wepublish.ch
    path: /
  editor:
    host: editor.demo.wepublish.ch
    path: /

labels: {}
