.DS_Store
.idea/
dist/
node_modules
npm-debug.log
.media
.changelog
.CHANGELOG-next.md
coverage/
screenshots

# Nx
tmp
.env.local
.nx
lerna-debug.log

# Next.js
.next

# translations cleanup files
tools/modified_jsonfile.json
tools/removed_keys.json
.vercel
# Sentry Config File
.env.sentry-build-plugin