dist/
static/
libs/editor/api/src/lib/graphql.ts
libs/editor/api-v2/src/lib/graphql.ts
libs/api/__tests__/api/private/index.ts
libs/api/__tests__/api/public/index.ts
libs/website/api/src/lib/graphql.ts
libs/website/api-v2/src/lib/graphql.ts
libs/peering/api/import/src/lib/import-peer-article/graphql.ts

libs/testing/src/__generated__/fabbrica/index.ts
libs/testing/src/__generated__/fabbrica/index.d.ts
libs/testing/src/__generated__/fabbrica/index.js

/.nx/cache
/.nx/workspace-data