{
  "printWidth": 80,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "experimentalTernaries": true,
  "singleAttributePerLine": true,
  "trailingComma": "es5",
  "arrowParens": "avoid"
}
