version: '3.7'

networks:
  app-tier:
    driver: bridge

services:
  migration:
    image: wepublishch/migration:master
    platform: linux/amd64
    environment:
      NODE_ENV: production
      DATABASE_URL: postgresql://postgres@database:5432/wepublish?schema=public
    depends_on:
      - database
    restart: on-failure
    networks:
      - app-tier
  api:
    image: wepublishch/api:master
    platform: linux/amd64
    ports:
      - '127.0.0.1:4000:4000'
    environment:
      CONFIG_FILE_PATH: /config.yaml
      DATABASE_URL: postgresql://postgres@database:5432/wepublish?schema=public
      HOST_URL: http://localhost:4000
      MEDIA_SERVER_URL: http://localhost:4100
      MEDIA_SERVER_INTERNAL_URL: http://media:4100
      MEDIA_SERVER_TOKEN: secret
      WEBSITE_URL: http://localhost:4200
      JWT_SECRET_KEY: ThisIsSuperSecret
    env_file: .env
    volumes:
      - ./apps/api-example/src/default.yaml:/config.yaml
    depends_on:
      - database
      - migration
    networks:
      - app-tier
  editor:
    image: wepublishch/editor:master
    platform: linux/amd64
    ports:
      - '127.0.0.1:3000:3000'
    environment:
      NODE_ENV: production
      ADDRESS: 0.0.0.0
      API_URL: http://localhost:4000
    depends_on:
      - api
  database:
    image: postgres:17
    platform: linux/amd64
    ports:
      - '127.0.0.1:5432:5432'
    volumes:
      - database:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=wepublish
      - POSTGRES_HOST_AUTH_METHOD=trust
    networks:
      - app-tier
  media:
    image: wepublishch/media:master
    platform: linux/amd64
    ports:
      - '127.0.0.1:4100:4100'
    environment:
      TOKEN: secret
      S3_ACCESS_KEY: ${S3_ACCESS_KEY}
      S3_SECRET_KEY: ${S3_SECRET_KEY}
      S3_ENDPOINT: 'storage'
      S3_PORT: '9000'
    depends_on:
      - storage
    networks:
      - app-tier
  pgadmin:
    image: dpage/pgadmin4
    platform: linux/amd64
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: 'admin@admin.com'
      PGADMIN_DEFAULT_PASSWORD: 'root'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - '127.0.0.1:8000:80'
    depends_on:
      - database
    networks:
      - app-tier

  storage:
    image: minio/minio:latest
    entrypoint: ["/bin/sh"]
    command:  ["-ec",
      "mkdir -p /data/wepublish-staff /data/wepublish-transformed; \
   minio server /data --console-address=:9001 & \
   sleep 3; \
   mc alias set local http://127.0.0.1:9000 ${S3_ACCESS_KEY} ${S3_SECRET_KEY}; \
   mc anonymous set download local/wepublish-transformed; \
   wait"]
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY}
    volumes:
      - storage:/data

volumes:
  database:
    driver: local
  storage:
    driver: local
