version: '3.7'

networks:
  app-tier:
    driver: bridge

services:
  migration:
    image: wepublishch/migration:master
    environment:
      NODE_ENV: production
      DATABASE_URL: postgresql://postgres@database:5432/wepublish?schema=public
    depends_on:
      - database
    restart: on-failure
    networks:
      - app-tier
  website:
    build:
      context: .
    ports:
      - '127.0.0.1:4200:8000'
    command: ['npx', '@wepublish/website-example']
    environment:
      NODE_ENV: production
      API_URL: http://api:8000
    depends_on:
      - api
    networks:
      - app-tier
  api:
    image: wepublishch/api:master
    ports:
      - '127.0.0.1:4000:4000'
    environment:
      CONFIG_FILE_PATH: /config.yaml
      DATABASE_URL: postgresql://postgres@database:5432/wepublish?schema=public
      HOST_URL: http://localhost:4000
      MEDIA_SERVER_URL: http://localhost:4100
      MEDIA_SERVER_INTERNAL_URL: http://media:4100
      MEDIA_SERVER_TOKEN: secret
      WEBSITE_URL: http://localhost:4200
      JWT_SECRET_KEY: ThisIsSuperSecret
    env_file: .env
    volumes:
      - ./apps/api-example/src/default.yaml:/config.yaml
    depends_on:
      - database
      - migration
      - media
    networks:
      - app-tier
  editor:
    image: wepublishch/editor:master
    ports:
      - '127.0.0.1:3000:3000'
    environment:
      NODE_ENV: production
      ADDRESS: 0.0.0.0
      API_URL: http://localhost:4000
    depends_on:
      - api
  media:
    image: ghcr.io/wepublish/karma-media-server:latest
    ports:
      - '127.0.0.1:4100:4100'
      - '127.0.0.1:4101:4100'
    environment:
      NUM_CLUSTERS: 1
      STORAGE_PATH: ./.media
      TOKEN: secret
  database:
    image: bitnami/postgresql:14
    platform: linux/amd64
    ports:
      - '127.0.0.1:5432:5432'
    volumes:
      - 'database_data:/bitnami/postgresql'
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - POSTGRESQL_DATABASE=wepublish
    networks:
      - app-tier

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: 'admin@admin.com'
      PGADMIN_DEFAULT_PASSWORD: 'root'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "127.0.0.1:8000:80"
    depends_on:
      - database
    networks:
      - app-tier

volumes:
  database_data:
    driver: local
