version: '3.7'
services:
  website:
    build: .
    ports:
      - 5000:8000
    command: ['node', './examples/website/dist/server/index.js']
    environment:
      NODE_ENV: production
      CANONICAL_HOST: http://localhost:5000
      API_URL: http://api:8000
      ALLOWED_HOSTS: localhost
      NUM_WORKERS: 1
  api:
    build: .
    ports:
      - 4000:8000
    command: ['node', './examples/api/dist/index.js']
    environment:
      NODE_ENV: production
      HOST_URL: http://localhost:4000
      MEDIA_SERVER_URL: http://localhost:3004
      MEDIA_SERVER_TOKEN: tPcvBRM2B3uSulyxjXm2ciqH5f1vQy2VDAsf
      MONGO_URL: mongodb://mongo:27017/wepublish
      OAUTH_GOOGLE_CLIENT_ID: 617896178757-i6ldn0nni9qtle8o6eu76lv93d78nvfi.apps.googleusercontent.com
      OAUTH_GOOGLE_CLIENT_KEY: t267ZLqkV9dacrkPQp_pF-G2
      OAUTH_GOOGLE_REDIRECT_URL: http://localhost:4000/auth/google
      OAUTH_WEPUBLISH_DISCOVERY_URL: http://oauth2:8000/.well-known/openid-configuration
      OAUTH_WEPUBLISH_CLIENT_ID: wepublish
      OAUTH_WEPUBLISH_CLIENT_KEY: secret
      OAUTH_WEPUBLISH_REDIRECT_URL: http://localhost:4000/auth/wepublish
  editor:
    build: .
    ports:
      - 3006:8000
    command: ['node', './packages/editor/dist/server/index.js']
    environment:
      NODE_ENV: production
      ADDRESS: 0.0.0.0
      API_URL: http://localhost:4000
  media:
    build: .
    ports:
      - 3004:8000
    command: ['node', './examples/media/dist/index.js']
    environment:
      NUM_CLUSTERS: 1
      STORAGE_PATH: ./.media
      TOKEN: tPcvBRM2B3uSulyxjXm2ciqH5f1vQy2VDAsf
  oauth2:
    build: .
    ports:
      - 4100:8000
    command: ['node', './packages/oauth2/dist/server/index.js']
    environment:
      MONGO_URL: mongodb://mongo:27017/wepublish
      OAUTH_MONGODB_URI: mongodb://mongo:27017/wepublish-oauth2
      OAUTH_CLIENT_ID: wepublish
      OAUTH_CLIENT_SECRET: secret
      OAUTH_GRANT_TYPES: refresh_token,authorization_code
      OAUTH_REDIRECT_URIS: http://localhost:3000/login/wepublish,http://localhost:4000/auth/wepublish
      OAUTH_COOKIE_KEYS: secret
      JWKS_KEYS: '[{"p":"ycTPs5WM9C2kLPw6Mqt-YQ4xKIeNmmnN_qECh_rV8AiNnShzYWjCvytf24ndma7Fr78L4-ZFm9utReKFv3So_MeAGOkv8XyG37CI0YMdhW6PXYDPOvYkEHWN71mDFh_PS9EdZQDg2uPR2SB90mhe5L5Cv4pFaD2DBPoyUZKQZfM","kty":"RSA","q":"qGvPhy3Ns4Xjvulni1L_KDkahGK9Jg710f0X68ZWpaQsU1tIjbM7JW6ciKkBOVIALz8zeKgm0UUmBWZ4HZNK5eOKrQ31NfyhAgbIT0asGIgcukUkQOXb0UG1Ppuuno90oyQlXf46tADFBMSbZpHW68pHqTS7i0Y5l12i_pxMHjU","d":"F8hw6yamubk7j08V0-g1JJCOW7DvIKI-eDRZZhfUoF3_4HvBjZWXUTMhNt0GwSDrqW58ct2h8WOADZ8WM2w1PAWbH4x1BqaY6ZFf2JyNsUiXy5keBpwiqOnq_LXmxL6j2jerG94eqHT2AY0woOpnVB5XuiaPuAjKoaeQXTS76dsGvyypmSb2wtPA3VwZ0yBGCym2kBwUuRT7LP-kRG3QZUap-PVkNroYqR_S75tLVsZZF9NWs2EyiLfVBwSRYAEe6eytw4ws_kd1xTgLyBkaE3O-iEVteM3QcOhUSMbsLqQpoLKnwIQU3zqoGobILnUlpzvpBPwjwbh7tDSZLkPosQ","e":"AQAB","qi":"BL7cJVwM19NrqC9kHfvyGD5DdsTlZFYx-ccMYrQkN0KK0mNCaCr0dA-lgLyrTgUn6e5GD9-FbRMIXL7WzOlNaJfn-vsMKb4nZtOmJQ0jQCuUhLHU4EymJpVpI9uE8rM04ISy242oynfVD47Gvei5iNbI7Zx0WYD6zPBEnKnLes8","dp":"biMutXrHDGr1mVC9e_c870HN96-2zjk_JuVA-nUj3vjsRINWKDAFTlEg7DffbQqIAp0oomiKSr-pX-J827uUmxdTh0WS1CEDhotYw_TsYm-tdn7fn_HIUeu5ZJPaCHOotlwZzY6jLxj47arcw8QROI_a469Yn8QkBs2ENh7pD50","dq":"XpwJfUdmqTVKRYF6EBL0kNTbJ4kL9igrQOXrHSBSpkP-Pmkl7avESvfC6SX_MQL2ZZQcRug2vhIZFKmGSh7m0RMsYKBZohUjIS9MMPRjUniLoruabPZysC84ME5mHl45yDdS4mUg9uMDyfTj0w-T6uq7rLqZq9gsG_KW0G5eeA0","n":"hL4hIVkJeGPhqc8Dgo02kM2GySyUz8KV9ueSsauN75MrWmInXDRB5zLwTWcSZ4JZnT1kXNXD5GLs-C0VM-XaEcPlE-r-zaEFR5qx3G1_JWsor9T0WgvNAYnq8_Dmz5YkYnKe4ihuuTjespXIwX6AQE8YNggmsJujQ4Dk8EhoRTnW4FV32TZJjixjvthcQqVUKAawDQPTdwOoMjNr3SBOZ9rYIbK3KvRq4qQYJAGkFiHUUF0RRIMkZQe-jKgPGeKB48Mf-CWO9LI9IAzSenJ_7rBSdvutAZ1GuAU-dtsKqZq2KRy_qh6Y3P3utVPitjd5VVcBYVLbIwcpSWgom_uVTw"}]'
  mongo:
    image: mongo:4.2.3-bionic
    ports:
      - 27017:27017
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8000:8081
    depends_on:
      - mongo
