/* body {
    background-color: #f0f0f0;
  }
*/
/* 
button {
    background: #34495e;
    border: 0;
    color: #fff;
    display: block;
    width: 100%;
    margin: 0 auto 20px;
    border-radius: 4px;
    padding: 0;
    line-height: 40px;
} */

.popover {
    background: #fff;
    border-radius: 4px;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    position: absolute;
    top: 100%;
    left: -50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

.popover-container {
    /* width: 200px; */
    /* margin: 50px auto; */
    position: relative;
}