{{- if and (eq .Values.routing.type "ingress") .Values.routing.ingress.enabled -}}
{{- $fullName := include "helm.fullname" . -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ include "helm.name" . }}
    helm.sh/chart: {{ include "helm.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- with .Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.routing.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.routing.ingress.className }}
  ingressClassName: {{ .Values.routing.ingress.className }}
  {{- end }}
  {{- if .Values.routing.ingress.tls }}
  tls:
    {{- toYaml .Values.routing.ingress.tls | nindent 4 }}
  {{- end }}
  rules:
    {{- $websiteUrl := urlParse .Values.deployment.env.WEBSITE_URL }}
    - host: {{ $websiteUrl.host }}
      http:
        paths:
          - path: {{ $websiteUrl.path | default "/" }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ $fullName }}-website
                port:
                  name: http
{{- end }}
