.link-toolbar .input-group {
 border: 1px solid #e5e5ea
}

.link-toolbar .input-group input {
    border: 0px;
    padding: 7px 11px;
}

.link-toolbar .form-group:not(:last-child){
    margin-bottom: 20px;
}

.link-toolbar .toolbar button {
    color: #c5c6c7;
    background-color: #f7f7fa;

    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    outline: 0 !important;
    white-space: nowrap;
    border: none;
    user-select: none;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 6px;
}