---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "helm.fullname" . }}-api
  labels:
    app.kubernetes.io/name: {{ include "helm.fullname" . }}-api
    helm.sh/chart: {{ include "helm.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "helm.name" . }}-api
    app.kubernetes.io/instance: {{ .Release.Name }}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helm.fullname" . }}-api
  labels:
    app.kubernetes.io/name: {{ include "helm.name" . }}-api
    helm.sh/chart: {{ include "helm.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- with .Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.api.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "helm.name" . }}-api
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "helm.name" . }}-api
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{- if .Values.deployment.imagePullSecret }}
      imagePullSecrets:
        - name: {{ .Values.deployment.imagePullSecret }}
      {{- end }}
      containers:
        - name: {{ include "helm.fullname" . }}
          image: {{ .Values.api.image }}
          imagePullPolicy: {{ .Values.deployment.imagePullPolicy }}
          ports:
            - name: http
              containerPort: 4000
              protocol: TCP
          env:
            - name: HOST_URL
              valueFrom:
                secretKeyRef:
                  name: {{ include "helm.fullname" . }}-api-environment-{{ .Release.Revision }}
                  key: API_URL
            - name: CONFIG_FILE_PATH
              value: /wepublish/config/application.yaml
          envFrom:
            - secretRef:
                name: {{ include "helm.fullname" . }}-api-environment-{{ .Release.Revision }}
            {{- if .Values.api.envFromSecretRefName }}
            - secretRef:
                name: {{ .Values.api.envFromSecretRefName }}
            {{- end }}
          {{- with .Values.api.properties }}
          {{- toYaml . | nindent 10 }}
          {{- end }}
          livenessProbe:
            httpGet:
              path: /health/livenessProbe
              port: 4000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 5
            successThreshold: 1
          readinessProbe:
            httpGet:
              path: /health/readinessProbe
              port: 4000
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 40
            successThreshold: 1
          volumeMounts:
            - name: {{ include "helm.fullname" . }}-config
              mountPath: /wepublish/config
              readOnly: true
      volumes:
        - name: {{ include "helm.fullname" . }}-config
          configMap:
            name: {{ include "helm.fullname" . }}-api-config-{{ .Release.Revision }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "helm.fullname" . }}-api-environment-{{ .Release.Revision }}
  labels:
    app.kubernetes.io/name: {{ include "helm.fullname" . }}-api-environment-{{ .Release.Revision }}
    helm.sh/chart: {{ include "helm.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{- range $name, $value := merge .Values.api.env .Values.deployment.env }}
  {{ $name }}: "{{ $value | b64enc }}"
  {{- end }}
