{{- if and (eq .Values.routing.type "ingress") .Values.routing.ingress.enabled -}}
{{- $fullName := include "helm.fullname" . -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ include "helm.name" . }}
    helm.sh/chart: {{ include "helm.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- with .Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.routing.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if .Values.routing.ingress.className }}
  ingressClassName: {{ .Values.routing.ingress.className }}
  {{- end }}
  {{- if .Values.routing.ingress.tls }}
  tls:
    {{- toYaml .Values.routing.ingress.tls | nindent 4 }}
  {{- end }}
  rules:
    {{- $apiUrl := urlParse .Values.deployment.env.API_URL }}
    - host: {{ $apiUrl.host }}
      http:
        paths:
          - path: {{ $apiUrl.path | default "/" }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ $fullName }}-api
                port:
                  name: http


    {{- $editorUrl := urlParse .Values.deployment.env.EDITOR_URL }}
    - host: {{ $editorUrl.host }}
      http:
        paths:
          - path: {{ $editorUrl.path | default "/" }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ $fullName }}-editor
                port:
                  name: http


    {{- $mediaUrl := urlParse .Values.deployment.env.MEDIA_SERVER_URL }}
    - host: {{ $mediaUrl.host }}
      http:
        paths:
          - path: {{ $mediaUrl.path | default "/" }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ $fullName }}-media
                port:
                  name: http

{{- if .Values.website.enabled -}}
    {{- $websiteUrl := urlParse .Values.deployment.env.WEBSITE_URL }}
    - host: {{ $websiteUrl.host }}
      http:
        paths:
          - path: {{ $websiteUrl.path | default "/" }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ $fullName }}-website
                port:
                  name: http
{{- end }}
{{- if .Values.storybook.enabled -}}
    {{- $storybookUrl := urlParse .Values.storybook.url }}
    - host: {{ $storybookUrl.host }}
      http:
        paths:
          - path: {{ $storybookUrl.path | default "/" }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ $fullName }}-storybook
                port:
                  name: http
{{- end }}
{{- end }}
