{{- if .Values.storybook.enabled -}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "helm.fullname" . }}-storybook
  labels:
    app.kubernetes.io/name: {{ include "helm.fullname" . }}-storybook
    helm.sh/chart: {{ include "helm.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: {{ include "helm.name" . }}-storybook
    app.kubernetes.io/instance: {{ .Release.Name }}


---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helm.fullname" . }}-storybook
  labels:
    app.kubernetes.io/name: {{ include "helm.name" . }}-storybook
    helm.sh/chart: {{ include "helm.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- with .Values.labels }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.api.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "helm.name" . }}-storybook
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "helm.name" . }}-storybook
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{- if .Values.storybook.imagePullSecret }}
      imagePullSecrets:
        - name: {{ .Values.storybook.imagePullSecret }}
      {{- end }}
      containers:
        - name: {{ include "helm.fullname" . }}
          image: {{ .Values.storybook.image }}
          resources:
            requests:
              memory: {{ .Values.storybook.resources.requests.memory | default "8Mi" }}
              cpu: {{ .Values.storybook.resources.requests.cpu | default "1m" }}
            limits:
              memory: {{ .Values.storybook.resources.limits.memory | default "16Mi" }}
              cpu: {{ .Values.storybook.resources.limits.cpu | default "20m" }}
          imagePullPolicy: {{ .Values.storybook.imagePullPolicy }}
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          envFrom:
            - secretRef:
                name: {{ include "helm.fullname" . }}-storybook-environment-{{ .Release.Revision }}
            {{- if .Values.api.envFromSecretRefName }}
            - secretRef:
                name: {{ .Values.api.envFromSecretRefName }}
            {{- end }}
          {{- with .Values.api.properties }}
          {{- toYaml . | nindent 10 }}
          {{- end }}


---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "helm.fullname" . }}-storybook-environment-{{ .Release.Revision }}
  labels:
    app.kubernetes.io/name: {{ include "helm.fullname" . }}-storybook-environment-{{ .Release.Revision }}
    helm.sh/chart: {{ include "helm.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    {{- with .Values.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
type: Opaque
data:
  {{- range $name, $value := .Values.storybook.env }}
  {{ $name }}: "{{ $value | b64enc }}"
  {{- end }}

{{- end }}
