extends ../base.pug

block content
    h1 Hi #{user.name}

    p Welcome at We.Publish and thank you for creating a Subscription. Your subscription is valid until the #{subscription.paidUntil}.

    a(href=url) Finish Account creation

