extends ../base.pug

block content
    h1 Hi #{user.name}

    p Remembering passwords is hard. I recommend a password manager. But with the following link you'll be able to reset your password.

    a(href=url) Reset password

