
.rs-divider-vertical {
  margin: 0;
}
.highlighted-row,
.highlighted-row .rs-table-cell-group .rs-table-cell {
    background-color: #f2faff;
}

.rs-modal-backdrop.fade.in, .rs-drawer-backdrop.fade.in {
  opacity: 0.5;
}

//Typo overrides
//--------------
.wep-section-title {
  margin: 30px 0 15px 0;
}


// Override modal footer styles - use classPrefix='wep-modal-footer'
.wep-modal-footer {
  text-align: right;
  border-top: 1px solid #e5e5ea;
  padding-top:20px ;
}

// Override drawer footer styles - use classPrefix='wep-drawer-footer'
.wep-drawer-footer {
  text-align: right;
  border-top: 1px solid #e5e5ea;
  padding-top: 20px;
  margin-bottom: 20px;
}

// Disabled input styles
.wep-input-disabled[disabled] {
  background-color:#F1F9FF;
  color: #5186B2;
  border:none;
  cursor:not-allowed;
}
