name: Deployment

on: [pull_request]

jobs:
  deployment:
    if: ${{ github.event.pull_request.base.repo.url == github.event.pull_request.head.repo.url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build docker
        env:
          PROJECT_ID: ${{ secrets.GCP_PROJECT_ID_WEP_DEV }}
          GCLOUD_AUTH: ${{ secrets.GCP_SA_KEY_WEP_DEV }}
        run: |
          printenv GCLOUD_AUTH | docker login -u _json_key --password-stdin https://eu.gcr.io
          docker build -t eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:${GITHUB_SHA} .
          docker push eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:${GITHUB_SHA}
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Create manifest
        env:
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
          PROJECT_ID: ${{ secrets.GCP_PROJECT_ID_WEP_DEV }}
        run: |
          node ./config/create-gke-manifest.js
          ls -al ./kubernetesConfigs
      - name: Prepare and authenticate kubectl
        uses: google-github-actions/get-gke-credentials@main
        with:
          cluster_name: funiciello-dev-cluster
          location: europe-west6
          project_id: wepublish-dev
          credentials: ${{ secrets.GCP_SA_KEY_WEP_DEV }}
      - name: Deploy to kubernetes
        run: kubectl apply -f ./kubernetesConfigs
      - name: Slack Notification
        if: success()
        env:
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          PROJECT_ID: ${{ secrets.GCP_PROJECT_ID_WEP_DEV }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_WP_DEV_CHANNEL }}
        run: |
          cd ./config
          yarn install
          node ./notify.js
  e2eTest:
    needs: deployment
    name: Runs e2e Test on Feature instance
    runs-on: ubuntu-latest
    container:
      image: testcafe/testcafe
      options: --user root
      #options: -v /__w/wepublish/wepublish:/wepublish/:rw
    env:
      BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
    steps:
      - uses: actions/checkout@v2
      - name: run tests
        if: always()
        run: /opt/testcafe/docker/testcafe-docker.sh chromium:headless /wepublish/tests/e2e.ts --assertion-timeout 10000
#      - name: Sleep for 30s
#        uses: juliangruber/sleep-action@v1
#        with:
#          time: 30s
#      - uses: actions/setup-node@v2
#        with:
#          node-version: '12'
#      - name: run tests
#        run: |
#          yarn install
#          yarn e2e:chromium
#      - uses: actions/upload-artifact@v2
#        if: ${{ failure() }}
#        with:
#          name: my-artifact
#          path: screenshots/
