name: Deployment

on: [pull_request]

jobs:
  say_hello:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "Hello ${{ github.event.pull_request}}!"
          echo "Hello ${{ github.event.pull_request_target}}!"
  deployment:
    if: ${{ github.event_name == 'wepublish/wepublish' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build docker
        env:
          PROJECT_ID: ${{ secrets.GCP_PROJECT_ID_WEP_DEV }}
          GCLOUD_AUTH: ${{ secrets.GCP_SA_KEY_WEP_DEV }}
        run: |
          # https://cloud.google.com/container-registry/docs/advanced-authentication
          printenv GCLOUD_AUTH | docker login -u _json_key --password-stdin https://eu.gcr.io
          docker build --pull --cache-from eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:latest -t eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:${GITHUB_SHA} -t eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:latest .
          #docker build -t eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:${GITHUB_SHA} -t eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:latest .
          docker push eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:${GITHUB_SHA}
          docker push eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:latest
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Create manifest
        env:
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
          PROJECT_ID: ${{ secrets.GCP_PROJECT_ID_WEP_DEV }}
        run: |
          node ./config/create-gke-manifest.js
          ls -al ./kubernetesConfigs
      - name: Prepare and authenticate kubectl
        uses: google-github-actions/get-gke-credentials@main
        with:
          cluster_name: funiciello-dev-cluster
          location: europe-west6
          project_id: wepublish-dev
          credentials: ${{ secrets.GCP_SA_KEY_WEP_DEV }}
      - name: Deploy to kubernetes
        run: kubectl apply -f ./kubernetesConfigs
      - name: Slack Notification
        if: success()
        env:
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          PROJECT_ID: ${{ secrets.GCP_PROJECT_ID_WEP_DEV }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_WP_DEV_CHANNEL }}
        run: |
          cd ./config
          yarn install
          node ./notify.js
