name: CI/CD

on:
  push:
    branches:
      - master
      - c/dev-instances

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Build docker
        env:
          PROJECT_ID: wepublish-269314
          GCLOUD_AUTH: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_WEPUBLISH }}
        run: |
          # https://cloud.google.com/container-registry/docs/advanced-authentication
          printenv GCLOUD_AUTH | base64 --decode | docker login -u _json_key --password-stdin https://eu.gcr.io
          docker pull eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:latest
          docker build --pull --cache-from eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:latest -t eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:${GITHUB_SHA} -t eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:latest .
          #docker build -t eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:${GITHUB_SHA} -t eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:latest .
          docker push eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:${GITHUB_SHA}
          docker push eu.gcr.io/${PROJECT_ID}/${GITHUB_REPOSITORY}/main:latest
      - uses: actions/setup-node@v1
        with:
          node-version: '10.x'
      - name: Create manifest
        env:
          PROJECT_ID: wepublish-269314
        run: |
          node ./config/create-gke-manifest.js
          ls -al ./kubernetesConfigs
      - name: Prepare and authenticate kubectl
        uses: google-github-actions/get-gke-credentials@main
        with:
          cluster_name: tsri-django
          location: europe-west6-c
          project_id: tsri-246213
          credentials: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_TSRI }}
      - name: Deploy to kubernetes
        run: kubectl apply -f ./kubernetesConfigs
