name: Setup database for review build

on:
  workflow_dispatch:
    inputs:
      pull_request_number:
        description: 'The pull request number you find it in the pullrequest view behind a # eg #1234=>1234'
        required: true
        type: string
      project:
        description: 'Name of the project you want to get database from eg. bajour'
        required: true
        type: string
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  copy-db:
    name: Copy Database
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v3

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: '3.12.3'

      - name: Authenticate kubectl
        uses: 'google-github-actions/auth@v1'
        with:
          project_id: ${{ secrets.GCLOUD_PROJECT_ID }}
          workload_identity_provider: ${{ secrets.GCLOUD_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCLOUD_SERVICE_ACCOUNT }}

      - name: Prepare kubectl
        uses: 'google-github-actions/get-gke-credentials@v1'
        with:
          project_id: ${{ secrets.GCLOUD_PROJECT_ID }}
          cluster_name: development
          location: europe-west6

      - name: Port forward PostgreSQL
        run: |
          kubectl port-forward -n staging svc/bajour-database-postgresql 5432:5432 &
          kubectl port-forward -n reviews svc/review-1393-database-postgresql 5433:5432 &

      - name: Install PostgreSQL Client
        run: |
          sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
          wget --quiet -O - https://www.postgresql.org/media/keys/ACCC4CF8.asc | sudo apt-key add -
          sudo apt-get update
          sudo apt-get install -y postgresql-client-16

      - name: Dump Project Staging Database
        env:
          PGPASSWORD: ${{ secrets.STAGING_DATABASE_PASSWORD }}
        run: |
          pg_dump -U ${{ secrets.STAGING_DATABASE_USER }} -h 127.0.0.1 -p 5432 -d wepublish -F c -b -v -f db.dump

      - name: Restore Dump to Review Database
        env:
          PGPASSWORD: foo
        run: |
          psql -U postgres -h 127.0.0.1 -p 5433 -d wepublish -c "DROP SCHEMA public CASCADE; CREATE SCHEMA public;"
          pg_restore -U postgres -h 127.0.0.1 -p 5433 -d wepublish -v db.dump

      - name: Cleanup
        run: rm db.dump