name: Publish docker image

on:
  workflow_call:
    inputs:
      base_image_tag:
        required: true
        type: string
      editor_tags:
        required: false
        type: string
      api_tags:
        required: false
        type: string
      migration_tags:
        required: false
        type: string
      storybook_tags:
        required: false
        type: string
      media_tags:
        required: false
        type: string

jobs:
  calculate-base-image-tag:
    name: Calculate hash for base image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Calculate hash of package-lock.json
        id: hash
        run: |
          if [ -f package-lock.json ]; then
            echo "HASH=$(sha256sum package-lock.json | awk '{print $1}')" >> $GITHUB_ENV
          else
            echo "package-lock.json not found, exiting."
            exit 1
          fi

      - name: Set hash tag
        run: echo "BUILD_IMAGE_TAG=ghcr.io/wepublish/base-image:${{ env.HASH }}" >> $GITHUB_ENV

  build-and-push-docker-api:
    name: Build and push api
    runs-on: ubuntu-latest
    needs: calculate-base-image-tag
    if: inputs.api_tags != ''
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - uses: docker/build-push-action@v2
        with:
          target: api
          push: true
          tags: |
            ${{ inputs.api_tags }}
          build-args:
            BUILD_IMAGE=${{ env.BUILD_IMAGE_TAG }}
  build-and-push-docker-editor:
    name: Build and push editor
    runs-on: ubuntu-latest
    needs: calculate-base-image-tag
    if: inputs.editor_tags != ''
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - uses: docker/build-push-action@v2
        with:
          target: editor
          push: true
          tags: |
            ${{ inputs.editor_tags }}
          build-args:
            BUILD_IMAGE=${{ env.BUILD_IMAGE_TAG }}
  build-and-push-docker-migration:
    name: Build and push migration
    runs-on: ubuntu-latest
    if: inputs.migration_tags != ''
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - uses: docker/build-push-action@v2
        with:
          target: migration
          push: true
          tags: |
            ${{ inputs.migration_tags }}
  build-and-push-docker-media:
    name: Build and push media
    runs-on: ubuntu-latest
    if: inputs.media_tags != ''
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - uses: docker/build-push-action@v2
        with:
          target: media
          push: true
          tags: |
            ${{ inputs.media_tags }}
  build-and-push-storybook:
    name: Build and push storybook
    runs-on: ubuntu-latest
    needs: calculate-base-image-tag
    if: inputs.storybook_tags != ''
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Log in to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - uses: docker/build-push-action@v2
        with:
          target: storybook
          push: true
          tags: |
            ${{ inputs.storybook_tags }}
          build-args:
            BUILD_IMAGE=${{ env.BUILD_IMAGE_TAG }}