name: Review

on:
  pull_request:
    types: [ opened, synchronize, reopened]

concurrency:
  group: review-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  publish-docker-image:
    name: Docker
    uses: ./.github/workflows/on-demand-publish-docker-image.yml
    with:
      editor_tags: |
        ghcr.io/wepublish/editor:${{ github.sha }}
      api_tags: |
        ghcr.io/wepublish/api:${{ github.sha }}
      migration_tags: |
        ghcr.io/wepublish/migration:${{ github.sha }}
      storybook_tags: |
        ghcr.io/wepublish/storybook:${{ github.sha }}
      website_tags: |
        ghcr.io/wepublish/website:${{ github.sha }}
    secrets: inherit

  helm_deployment:
    name: Helm deployment
    needs: publish-docker-image
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    env:
      API_URL: https://api-${{ github.event.pull_request.number }}.reviews.wepublish.dev
      EDITOR_URL: https://editor-${{ github.event.pull_request.number }}.reviews.wepublish.dev
      WEBSITE_URL: https://website-${{ github.event.pull_request.number }}.reviews.wepublish.dev
      MEDIA_SERVER_URL: https://media-${{ github.event.pull_request.number }}.reviews.wepublish.dev
      STORYBOOK_URL: https://storybook-${{ github.event.pull_request.number }}.reviews.wepublish.dev

    steps:
      - uses: actions/checkout@v3

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: '3.12.3'

      - name: Authenticate kubectl
        uses: 'google-github-actions/auth@v1'
        with:
          project_id: ${{ secrets.GCLOUD_PROJECT_ID }}
          workload_identity_provider: ${{ secrets.GCLOUD_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ secrets.GCLOUD_SERVICE_ACCOUNT }}

      - name: Prepare kubectl
        uses: 'google-github-actions/get-gke-credentials@v1'
        with:
          project_id: ${{ secrets.GCLOUD_PROJECT_ID }}
          cluster_name: development
          location: europe-west6

      - name: Ensure namespace exists
        run: |
          kubectl create namespace reviews --dry-run=client -o yaml | kubectl apply -f -

      - name: Helm deploy mino server
        run: |
          cat > values.yaml <<EOF
          accessKey: accessKey
          secretKey: secretKey
          persistence:
            enabled: false
          service:
            type: LoadBalancer
            port: 9000
          EOF
          helm upgrade --install review-${{ github.event.pull_request.number }}-minio bitnami/minio -n reviews -f values.yaml    

      - name: Helm deploy media-server
        run: |
          cat > values.yaml <<EOF
          deployment:
            image: seccomch/wep-media-light:latest
            env:
              TOKEN: media-token
              DEBUG: 'false'
              NUM_CLUSTERS: '1'
            replicaCount: 1
          service:
            type: ClusterIP
            port: 80
          ingress:
            enabled: true
            host: media-${{ github.event.pull_request.number }}.reviews.wepublish.dev
            path: /
          pvc:
            storage: 20Gi
          labels: { }
          EOF
          helm upgrade --install review-${{ github.event.pull_request.number }}-media-server karma-media-server --repo https://gitlab.com/api/v4/projects/38941346/packages/helm/stable -n reviews -f values.yaml

      - name: Helm deploy database
        run: |
          cat > values.yaml <<EOF
          global:
            postgresql:
              auth:
                enablePostgresUser: true
                postgresPassword: "foo"
                username: wepublish
                password: wepublish
                database: wepublish
          EOF
          helm upgrade --install review-${{ github.event.pull_request.number }}-database oci://registry-1.docker.io/bitnamicharts/postgresql -n reviews -f values.yaml --wait

      - name: Helm deploy app
        run: |
          cat > values.yaml <<EOF
          deployment:
            env:
              API_URL: ${API_URL}
              EDITOR_URL: ${EDITOR_URL}
              WEBSITE_URL: ${WEBSITE_URL}
              MEDIA_SERVER_URL: ${MEDIA_SERVER_URL}
          migration:
            image: ghcr.io/wepublish/migration:${{ github.sha }}
            env:
              DATABASE_URL: postgres://postgres:foo@review-${{ github.event.pull_request.number }}-database-postgresql.reviews.svc.cluster.local:5432/wepublish?schema=public
              OVERRIDE_ADMIN_PW: '123'
          api:
            image: ghcr.io/wepublish/api:${{ github.sha }}
            env:
              GOOGLE_APPLICATION_CREDENTIALS: /var/secrets/google/key.json
              DATABASE_URL: postgres://postgres:foo@review-${{ github.event.pull_request.number }}-database-postgresql.reviews.svc.cluster.local:5432/wepublish?schema=public
              MEDIA_SERVER_TOKEN: 'media-token'
              JWT_SECRET_KEY: 'jwt-token'
              SLACK_DEV_MAIL_WEBHOOK_URL: 'SLACK_DEV_MAIL_WEBHOOK_URL'
              DEFAULT_FROM_ADDRESS: 'dev@wepublish.ch'
              DEFAULT_REPLY_TO_ADDRESS: 'dev@wepublish.ch'
              PAYREXX_INSTANCE_NAME: wepublish-sandbox
              PAYREXX_PAYMENT_METHODS: visa,mastercard
              PAYREXX_API_SECRET: ${{ secrets.PAYREXX_API_SECRET }}
              PAYREXX_WEBHOOK_SECRET: ${{ secrets.PAYREXX_WEBHOOK_SECRET }}
              OAUTH_GOOGLE_DISCOVERY_URL: 'https://accounts.google.com'
              OAUTH_GOOGLE_CLIENT_ID: '617896178757-i6ldn0nni9qtle8o6eu76lv93d78nvfi.apps.googleusercontent.com'
              OAUTH_GOOGLE_CLIENT_KEY: 't267ZLqkV9dacrkPQp_pF-G2'
              OAUTH_GOOGLE_REDIRECT_URL: ${WEBSITE_URL}/auth/google
              BEXIO_API_KEY: 'secret'
              BEXIO_USER_ID: '1'
              BEXIO_COUNTRY_ID: '1'
              BEXIO_INVOICE_TEMPLATE: 'template-name'
              BEXIO_UNIT_ID: '1'
              BEXIO_TAX_ID: '17'
              BEXIO_ACCOUNT_ID: '139'
              CONFIG_FILE_PATH: '/wepublish/config/default.yaml'
          editor:
            image: ghcr.io/wepublish/editor:${{ github.sha }}
            env:
              PEER_BY_DEFAULT: "true"
          website:
            image: ghcr.io/wepublish/website:${{ github.sha }}
            enabled: true
          storybook:
            enabled: true
            image: ghcr.io/wepublish/storybook:${{ github.sha }}
            url: ${STORYBOOK_URL}
          EOF
          export POD_NAME=review-${{ github.event.pull_request.number }}-app
          if [[ ! -z $(helm ls -a -n reviews |grep ${POD_NAME} |grep -v "deployed ") ]]; then helm uninstall -n reviews ${POD_NAME}; fi
          helm upgrade --install ${POD_NAME} ./helm/charts/wepublish -n reviews -f values.yaml --wait


  notify:
    name: Notify
    needs: helm_deployment
    if: ${{ needs.helm_deployment.result == 'success' }}
    runs-on: ubuntu-latest
    continue-on-error: true

    env:
      API_URL: https://api-${{ github.event.pull_request.number }}.reviews.wepublish.dev
      EDITOR_URL: https://editor-${{ github.event.pull_request.number }}.reviews.wepublish.dev
      WEBSITE_URL: https://website-${{ github.event.pull_request.number }}.reviews.wepublish.dev
      MEDIA_SERVER_URL: https://media-${{ github.event.pull_request.number }}.reviews.wepublish.dev

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: npm

      - name: Create Deployment Text
        id: deploymentComment
        env:
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          cd ./config
          npm ci
          OUTPUT=$(node ./notify-github.js)
          OUTPUT="${OUTPUT//$'\n'/'%0A'}"
          OUTPUT="${OUTPUT//$'\r'/'%0D'}"
          echo "::set-OUTPUT name=result::$OUTPUT"

      - uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: |
            ${{ steps.deploymentComment.outputs.result }}

      - name: Notify Jira
        env:
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
          PR_TITLE: ${{ github.event.pull_request.title }}
          PR_BODY: ${{ github.event.pull_request.body }}
          JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
          JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
          JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
        run: |
          cd ./config
          npm ci
          node ./notify-jira.js

