name: Review

on:
  pull_request:
    types: [labeled, opened, synchronize, reopened]

concurrency:
  group: review-${{ github.head_ref }}
  cancel-in-progress: true

env:
  API_URL: https://api-${{ github.event.pull_request.number }}.reviews.wepublish.dev
  EDITOR_URL: https://editor-${{ github.event.pull_request.number }}.reviews.wepublish.dev
  WEBSITE_URL: https://website-${{ github.event.pull_request.number }}.reviews.wepublish.dev
  MEDIA_SERVER_URL: https://media-${{ github.event.pull_request.number }}.reviews.wepublish.dev
  STORYBOOK_URL: https://storybook-${{ github.event.pull_request.number }}.reviews.wepublish.dev
  S3_PUBLIC_URL: https://storage-${{ github.event.pull_request.number }}.reviews.wepublish.dev
  PROJECT_URL_SUFFIX: -${{ github.event.pull_request.number }}.reviews.wepublish.dev

jobs:
  publish_docker_base_image:
    name: Docker base image
    uses: ./.github/workflows/on-demand-publish-base-docker-image.yml
    secrets: inherit

  publish_docker_image:
    needs: [publish_docker_base_image]
    name: Docker backend images
    uses: ./.github/workflows/on-demand-publish-docker-image.yml
    with:
      editor_tags: |
        ghcr.io/wepublish/editor:${{ github.sha }}
      api_tags: |
        ghcr.io/wepublish/api:${{ github.sha }}
      migration_tags: |
        ghcr.io/wepublish/migration:${{ github.sha }}
      storybook_tags: |
        ghcr.io/wepublish/storybook:${{ github.sha }}
      media_tags: |
        ghcr.io/wepublish/media:${{ github.sha }}
    secrets: inherit


  setup-website-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up matrix
        id: set-matrix
        run: deployment/read_deployment_config.sh '.website.review.deployment' true

  publish_docker_website_image:
    name: Build Docker Website
    needs: [setup-website-matrix, publish_docker_base_image]
    if: ${{ needs.helm_deployment.result == 'success' }}
    uses: ./.github/workflows/on-demand-publish-docker-image-website.yml
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.setup-website-matrix.outputs.matrix)}}
    with:
      website_project: ${{ matrix.target }}
      api_url: https://api-${{ github.event.pull_request.number }}.reviews.wepublish.dev
      environment: review
      website_tags: |
        ghcr.io/wepublish/website-${{ matrix.target }}:${{ github.sha }}
    secrets: inherit

  notify:
    name: Notify
    needs: [setup-website-matrix, publish_docker_website_image]
    if: ${{ needs.publish_docker_website_image.result == 'success' }}
    runs-on: ubuntu-latest
    continue-on-error: true

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: npm
      - name: Create Deployment Text
        id: deploymentComment
        env:
          PROJECTS: ${{needs.setup-website-matrix.outputs.matrix}}
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          cd ./config
          npm ci
          OUTPUT=$(node ./notify-github.js)
          OUTPUT="${OUTPUT//$'\n'/'%0A'}"
          OUTPUT="${OUTPUT//$'\r'/'%0D'}"
          echo "::set-OUTPUT name=result::$OUTPUT"

      - uses: marocchino/sticky-pull-request-comment@v2
        with:
          message: |
            ${{ steps.deploymentComment.outputs.result }}
