name: Close Pull Request

# only trigger on pull request closed events
on:
  pull_request:
    types: [ closed ]

jobs:
  remove_deployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Create manifest
        env:
          BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
          PROJECT_ID: ${{ secrets.GCLOUD_PROJECT_ID }}
        run: |
          node ./config/create-gke-manifest.js
          ls -al ./kubernetesConfigs
      - name: Prepare and authenticate kubectl
        uses: google-github-actions/get-gke-credentials@main
        with:
          cluster_name: funiciello-dev-cluster
          location: europe-west6
          project_id: ${{ secrets.GCLOUD_PROJECT_ID }}
          credentials: ${{ secrets.GCLOUD_AUTH_KEY }}
      - name: Remove From Kubernetes
        run: kubectl delete -f ./kubernetesConfigs
