name: Publish npm packages

on:
  push:
    tags:
      - v*

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: "Use NodeJS 16"
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: yarn

      - name: "Setup yarn/npm"
        run: |
          yarn config set registry 'https://registry.npmjs.org'
          npm set '//registry.npmjs.org/:_authToken' '${{ secrets.NPM_AUTH_TOKEN }}'

      - name: "Yarn install"
        run: yarn install --pure-lockfile

      - name: "Build"
        run: yarn run build

      - if: |
          contains(github.ref, 'tags/') && contains(github.ref, 'alpha')
        name: "Publish next npms"
        run: yarn run publish:next --yes

      - if: |
          contains(github.ref, 'tags/') && !contains(github.ref, 'alpha')
        name: "Publish latest npms"
        run: yarn run publish --yes
