name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '!f/WPC-332-dreifuss-in-wepublish'

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.3.0
        with:
          mongodb-version: '4.2'
      - run: yarn install
      - run: yarn build:production
      - run: yarn test
        env:
          JWT_SECRET_KEY: 'ThisIsSuperSecret'
          TEST_MONGO_URL: 'mongodb://localhost:27017/wepublish_test'
