name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  Test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: bitnami/postgresql:14
        env:
          ALLOW_EMPTY_PASSWORD: yes
          POSTGRESQL_DATABASE: wepublish
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
      - run: yarn install
      - run: yarn build:production
      - run: yarn test
        env:
          JWT_SECRET_KEY: 'ThisIsSuperSecret'
          DATABASE_URL: 'postgresql://postgres@localhost:5432/wepublish_test?schema=public'
